body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #CAC5E7;
}

.header {
	width: 100vw;
	height: 20vh;
	background-color: #CAC5E7;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-grow: 1;
}

.name {
	flex-grow: 1;
}

.name h1 {
	color: #0B3B0B;
	font-size: 30pt;
	align-self: center;
	font-family: 'ABeeZee', sans-serif;
	margin-top: 4vh;
	margin-bottom: 0;
	margin-left: 4vw;
}

.navigationBar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-grow: 2;
}

.navigationButton {
	margin: 15%;
	align-self: center;
	margin: 5%;
}

.navigationButton h3 {
	color: blue;
	font-size: 13pt;
	font-family: 'ABeeZee', sans-serif;

}

.separation {
	height: 5vh;
	width: 100vw;
	background-color: #0B3B0B;
	position: relative;
	margin: 0%;
}

.content {
	height: 75vh;
	width: 100vw;
	background-color: #ffffff;
	position: relative;
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	justify-content: space-around;
	align-content: space-between;
	width: 100%;
	height: 100%;
	flex-grow: 2;
	margin: 0%;
}

.aboutP {
	width: 70vw;
	margin-right: 2%;
	margin-top: 0%;
	margin-bottom:5%;
	margin-left: 2%;
}

.aboutP h1 {
	color: #0B3B0B;
	font-size: 30pt;
	font-family: 'ABeeZee', sans-serif;
}

.resumeBubble {
	width: 10vw;
	height:10vw;
	margin-top: 3%;
	border-radius: 50%;
	background-color: #ffa500;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	position: relative;
}

.resumeBubbleText {
	color: white;
	position: absolute;
	font-size: 20pt;
	font-family: 'ABeeZee', sans-serif;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}
