.slideshow {
	display: flex;
	width: 100vw;
	height: 25vh;
	position: relative;
}

.slide {
	background-image: url("https://i.imgur.com/dYYg8J9.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.arrow {
	background-color: rgba(255, 255, 255, 0);
	color: white;
	border-radius: 50%;
	font-size: 30pt;
	font-weight: bold;
	position: absolute;
	top: 40%;
	height: 8vh;
	width: 8vh;
	text-align: center;
	justify-content: center;
}

.arrow:hover {
	background-color: rgba(255, 255, 255, .5);
}

.prev {
	left: 3%;
}

.next {
	right: 5%;
}

.slide h1 {
	align-self: center;
	color: white;
	font-family: 'Roboto Slab';
}

.slide p {
	align-self: center;
	color: white;
}

.navigationBar {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 8vh;
}

.navigationBar a {
	display: flex;
	flex-direction: row;
	width: 20%;
	height: 100%;
}
.navButton {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	background-color: grey;
	width: 100%;
	height: 100%;
}

.navButton p {
	color: white;
	text-align: center;
	z-index: 3;
	font-size: 12pt;
}

.overlay {
	top: 0;
	left: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(255, 255, 255, .5);
}

.overlay:hover {
	opacity: .5;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.pageContent {

}

.content {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

h2 {
	align-self: center;
	color: white;
	font-family: 'Roboto Slab';
	font-size: 30pt;
	padding: 0;
}

.aboutMe {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgb(22, 22, 63), #d3c3fa);
}

.aboutMeContent {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	justify-content: space-around;
	width: 100%;
}

.aboutMeContent img {
	width: 20vw;
	height: 55vh;
	margin: 0;
}

.aboutMeContent p {
	color: white;
	width: 27vw;
	height: 32vh;
	margin: 0;
}

.projects {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	background: linear-gradient(#d3c3fa, rgb(22, 22, 63));
}

.projectsContent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-around;
	width: 100%;
	height: 100%;	
}

.photos {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgb(22, 22, 63), #d3c3fa);
}

.photosContent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-around;
	width: 100%;
	height: 100%;	
}

.imageContainer {
	position: relative;
	height: 20vh;
	width: 20vw;
}

.image {
	height: 100%;
	width: 100%;
	border-color: grey;
	border: 2px;
}

.overlayImg {
	top: 0;
	left: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(255, 255, 255, .5);
}

.overlayImg:hover {
	opacity: 1;
}

.overlayImg p {
	font-size: 20pt;
	font-weight: bold;
	text-align: center;
	opacity: 1;
	color: rgba(0,0,0,1)
}
.text {
	font-size: 20pt;
	font-weight: bold;
	text-align: center;
	opacity: 1;
	color: rgba(0,0,0,1)
}


.contact {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
	background: linear-gradient(#d3c3fa, rgb(22, 22, 63));
}


.contact .email p {
	font-size: 20pt;
	color: white;
	align-self: center;
	text-align: center;
}

.contact .media {
	background-color: rbga(0,0,0,0);
	align-self: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style-type: none;
}

.contact .media a {
	border-radius: 50%;
}

.contact .imgContainer {
	height: 20vh;
	width: 9vw;
	margin: 1em;
	border-radius: 50%;
	position: relative;
}

.contact img {
	height: 100%;
	width: 100%;
	margin: 1em;
	border-radius: 50%;
}

.contact .overlayImgContact {
	top: 15%;
	left: 14%;
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(255, 255, 255, .5);
}

.contact .overlayImgContact:hover {
	opacity: 1;
}

.bottom img {
	width: 100vw;
	height: 40vh;
}