<!DOCTYPE html>
<html lang="en">
	<head>
	<link rel="stylesheet"  type="text/css" href="../static/contactStyle.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
	<title>Contact</title>
</head>
<body>
	<div class="textbox">
		<h1>Contact</h1>
		<nav>
   		<ul class="navigation">
  			<li><a href="index.html">Home</a>&nbsp; ~ &nbsp;</li>
  			<li><a href="about.html">About</a>&nbsp; ~ &nbsp;</li>
  			<li><a href="misc.html">Portfolio</a>&nbsp; ~ &nbsp;</li>
  			<li><a href="contact.html">Contact</a></li>
   		</ul>
   		</nav>
		<div class="media">
			<a href="https://www.facebook.com/natalie.dellamaria">
				<img src="/Users/Natalie DellaMaria/Pictures/website photos/fb.png" alt="facebook">
			</a>
			<a href="https://twitter.com/nrdellamaria28">
				<img src="/Users/Natalie DellaMaria/Pictures/website photos/twitter.png" alt="twitter">
			</a>
						<a href="https://github.com/ndellamaria">
				<img src="/Users/Natalie DellaMaria/Pictures/website photos/github.png" alt="github">
			</a>
						<a href="https://www.linkedin.com/in/natalie-dellamaria/">
				<img src="/Users/Natalie DellaMaria/Pictures/website photos/linkedin.png" alt="linkedin">
			</a>
		</div>
	</div>
</body>
</html>