<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet"  type="text/css" href="../static/style.css">
	<link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
	<title>Natalie DellaMaria</title>
</head>
  <body>
    <h1>Natalie DellaMaria</h1>
   	<nav>
   		<ul class="navigation">
  			<li><a href="index.html">Home</a>&nbsp; ~ &nbsp;</li>
  			<li><a href="about.html">About</a>&nbsp; ~ &nbsp;</li>
  			<li><a href="miscellaneous.html">Miscellaneous</a>&nbsp; ~ &nbsp;</li>
  			<li><a href="contact.html">Contact</a></li>
   		</ul>
   	</nav>
  </body>
</html>
