<!DOCTYPE html>
<html lang="en">
	<head>
	<link rel="stylesheet"  type="text/css" href="../static/miscStyle.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
	<title>Misc</title>
</head>
<body>
	<div class="textbox">
		<h1>Portfolio</h1>
		<nav>
   		<ul class="navigation">
  			<li><a href="index.html">Home</a>&nbsp; ~ &nbsp;</li>
  			<li><a href="about.html">About</a>&nbsp; ~ &nbsp;</li>
  			<li><a href="misc.html">Portfolio</a>&nbsp; ~ &nbsp;</li>
  			<li><a href="contact.html">Contact</a></li>
   		</ul>
   		</nav>
		<p>In summer 2017 I speant 6 weeks travelling around South Africa and studying at Stellenbosch University. Click on the photos for more information/pictures from the trip. </p>
	</div>
	<div class="images">

		<div class="imageContainer">

			<img src="/Users/Natalie DellaMaria/Pictures/Neature/lighthouse.jpg" alt="lighthouse" class="image">
			<div class="overlay">
				<div class="text">Durban</div>
			</div>

		</div>


		<div class="imageContainer">
			<img src="/Users/Natalie DellaMaria/Pictures/Neature/IMG_0086.jpg" alt="sunrise" class="image">
						<div class="overlay">
				<div class="text">Cathedral Peak, Drakensburg Mountain Range</div>
			</div>
		</div>
		<div class="imageContainer">
			<img src="/Users/Natalie DellaMaria/Pictures/Neature/IMG_5041.jpg" alt="flowers" class="image">
						<div class="overlay">
				<div class="text">Cape Town Botanical Gardens</div>
			</div>
		</div>
	</div>
</body>
</html>